In [9]:
#Prompting user for input
x = c(as.integer(readline("Enter a number:"))) 
#Defining a function for finding square root
squareroot <- function(x){
  if (x < 0){
    print(NA)
  }else{
    print(paste("Square root of the given number :",sqrt(x)))
  }
}
squareroot(x)
#Invoking the function

Enter a number:455
[1] "Square root of the given number : 21.3307290077015"

In [10]:
a = "letter" 
b = "LETTER"
print(a)          #printing letter
print(b)          #printing LETTER

[1] "letter"
[1] "LETTER"

In [24]:
desc <- function(x){
    x<-c(5,7,8)
    }

print(sort(desc(x),decreasing = TRUE))

[1] 8 7 5

In [38]:
#function
nums<- function(vec)                 
    {
  #returning values greater then mean value
  return(vec[vec>mean(vec)])         
    }
#Assigning values
nums(c(78,12,459,175,451,178,587,24,985))

[1] 459 451 587 985

In [53]:
#Nested looping
for(i in seq(1,3)){   
  #for every single run in outside loop inside loop gets executed 10 times
  for(j in seq(i,i+10L)){ 
    cat(j," ")

  }
}

1  2  3  4  5  6  7  8  9  10  11  2  3  4  5  6  7  8  9  10  11  12  3  4  5  6  7  8  9  10  11  12  13

In [54]:
#Creating a dataframe
mydf = data.frame(a=c(3,7,NA, 9),b=c(2,NA,9,3),f=c(5,2,5,6),d=c(NA,3,4,NA))
#Applying conditions as required to create 5th column
mydf[,5] <- ifelse(is.na(mydf[,1]) & !is.na(mydf[,2]),mydf[,2],
            ifelse(is.na(mydf[,2]) & !is.na(mydf[,4]),mydf[,4], mydf[,3]))

print(mydf)

   a  b f  d V5
1  3  2 5 NA  5
2  7 NA 2  3  3
3 NA  9 5  4  9
4  9  3 6 NA  6

In [59]:
#While looping
x<-0
while (x<=35) {
  if(x==7){
    x<-x+1
  #Applying next function to bypass if x equals 7
  next
  }
  cat(x,"")
  x=x+1
}

0 1 2 3 4 5 6 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35

In [64]:
#Variable
num<-458
class(num)   #It gives numeric
typeof(num)  #It gives double

[1] "numeric"

[1] "double"

In [65]:
#Keyword Argument
keyword<-function(a,b){
  return(a+b)
}
keyword(b=1,a=3)

#default Argument
def <- function(a=0) {
  return(a+1)  
}
def(5)

#required Argument
norma<-function(x){
  return(x+1)
}
norma(1)

[1] 4

[1] 6

[1] 2

In [75]:
#Dataframe creation
Name <- c("Jhon", "Lee", "Suzan", "Abhinav", "Brain", "Emma", "David") 
#Variables
Subject <- c("Data Science", "Machine Learning", "Deep Learning", "Data Structures", 
            "Database Managemnt System", "Operating Systems", "Python Programming") 

Score <- c(56, 76, 86, 96, 73, 87, 47) 

Rank <- c(5,8,6,7,9,2,1) 

df = data.frame(Name,Subject,Score,Rank)
del_row_df<-df[-c(2),] # row deletion
del_col_df<-within(df, rm("Subject")) #Colmn deletion
print("After deleting Row 2")
del_row_df
print("After Deleting Subject Column")
del_col_df

[1] "After deleting Row 2"

  Name    Subject                   Score Rank
1 Jhon    Data Science              56    5
3 Suzan   Deep Learning             86    6
4 Abhinav Data Structures           96    7
5 Brain   Database Managemnt System 73    9
6 Emma    Operating Systems         87    2
7 David   Python Programming        47    1

[1] "After Deleting Subject Column"

  Name    Score Rank
1 Jhon    56    5
2 Lee     76    8
3 Suzan   86    6
4 Abhinav 96    7
5 Brain   73    9
6 Emma    87    2
7 David   47    1