In [7]:
#collapse function
convert=function(x) {
  #Using collapse for cancatenating into one string
  y=paste(x,collapse=",")
  print(y)
}
#Checking for 3 values
convert(c("sathish","kumar","good"))
convert(c("sathish","kumar"))
#Checking for 1 value
convert(c("sathish"))

[1] "sathish,kumar,good"
[1] "sathish,kumar"
[1] "sathish"

In [10]:
#Values for datframe
Id=c(1:10)
Age=c(14,12,15,10,23,21,41,56,78,12)
Sex=c('F','M','M','F','M','F','M','M','F','M')
Code=letters[1:10]
#Creating a datframe
df=data.frame(Id,Age,Sex,Code)

#function that, given a data frame and two indexes, exchanges two values of the Code with each other.
change_values=function(df,firstindex,secondindex)
{
  first_value=df[firstindex,'Code']
  df[firstindex,'Code']=df[secondindex,'Code']
  df[secondindex,'Code']=first_value
  return(df)
}
#Interchnaging values
df=change_values(df,4,8)
df=change_values(df,9,1)
df=change_values(df,3,10)
df

   Id Age Sex Code
1   1 14  F   i
2   2 12  M   b
3   3 15  M   j
4   4 10  F   h
5   5 23  M   e
6   6 21  F   f
7   7 41  M   g
8   8 56  M   d
9   9 78  F   a
10 10 12  M   c

In [20]:
#Ascending values
sort_asc=function(vec)
{
  #Mutplipying by 2
  vec=sort(vec)*2
  return(vec)
}
#input
vec=c(1,5,9,2,5,1,6,3)
#Invoking function
sort_asc(vec)

[1]  2  2  4  6 10 10 12 18

In [19]:
#Fuction to find missing numbers in the limit
nums=function(input)
{ #limit to check
  lim=0:9
  #Checking  and saving the values missing
  output=lim[!lim %in% input]
  #%in% gives the present postion
  return(output)
}
#Assigning input
input=c(1,5,3,8)
#Invoking function
nums(input)

[1] 0 2 4 6 7 9

In [39]:
#function to convert string to corresponding number
convert_str_num<-function(str)
{
  #extracting letters seperately
  extract = stri_extract_all(str, regex=c('\\p{L}'))
  #conerts leters to corresponding numbers
  converted = letters%in%unlist(extract)
  #Returning Value
  return(which(converted))
}
str='abc'
#Invoking function
convert(str)

[1] 1 2 3

In [51]:
#Creating a function to check for anagram
anagram<-function(str1,str2)
{
  #Splicing word into letter with regex
  str1=unlist(stri_extract_all(str1, regex=c('\\p{L}')))
  str2=unlist(stri_extract_all(str2, regex=c('\\p{L}')))
  #First Checking for length
  if (length(str1)==length(str2)) 
  {
   #Reverse and check and return true
  match=unique(str1%in%str2==str2%in%str1)
  return( ifelse(length(str1)==length(str2) & length(match)==1,ifelse(match==TRUE,TRUE,FALSE),FALSE))
  }
  #If length is not equal diirectly returs false
  if (length(str1)!=length(str2))
    return(FALSE)
}
#Input
str1='rotator'
str2='rotator'
#Invoking function
print(anagram(str1,str2))

[1] TRUE